<div id="message-<%= message.id %>">
  <small>
  <div class="d-flex align-items-center">
 <%= cl_image_tag message.user.photo.key, height: 40, width: 40, crop: :thumb, gravity: :face, style:"border-radius: 50px"%> <p class="mb-0"><%=message.content.capitalize%></p>
</div>
  </small>
    <i><%= message.created_at.strftime("at %l:%M %p") %></i>
</div>
