// Specific CSS for your home-page
.poster {
  background-size: cover;
  background-position: center;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster h1 {
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

.bg {
  width: 100%;
  background-size: 300% 300%;
  background-image: linear-gradient(
        -45deg,
        rgba(255,113,67,1) 0%,
        rgba(255,113,67,1) 25%,
        rgba(244,162,64,1) 51%,
        rgba(255,53,127,1) 100%
  );
  animation: AnimateBG 20s ease infinite;
}

@keyframes AnimateBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
