.success{
  text-align: center;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15;
}

h2{
  text-decoration: underline;
}

.card{
  background-color: grey;
  padding: 10px;
  margin: 10px;
  padding-bottom: 3Opx;
  width: 100%;
}

img, svg {
  width: 200px;
}

.avatar-profile{
  border-radius: 50%;
  border: 1Opx;
  padding-bottom: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
}


.circle {
  margin:10px;
  width:100px;
  height:100px;
  border-radius:100%;
  background-color:#3D6AA2;
  color:#fff;
  text-align:center;
  font-size:14px;
  overflow:hidden;

}

.circle{line-height:100px;}

.align-circle{
  align-items: flex-start;
  display: flex;
}

.bio-user{
  border: solid 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
  text-align: start;
}

.poster{
  background-size: cover ;
  background-position: center;
}
