.success{
  text-align: center;
  width: auto;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin: 15;
}

h2{
  text-decoration: underline;
}

.card{
  background-color: grey;
  padding: 10px;
  margin: 10px;
  padding-bottom: 3Opx;
}

img, svg {
  width: 100px;
}
