
.recap-team-card {
  background-color: #FBEEDA;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  // display: flex;
  // flex-direction: row;
  margin-bottom: 2em;
  width: 25vw;
  h4{
    text-align: center;
    display: block;
  }
  .player-avatar{
    display: flex;
    justify-content: space-between;
    // width: 130px;
    // height: 130px;


  }

  .column{
    display: flex;
    flex-direction: column;

  }
}
