
.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.quarter{
  width:50%;
  height:50%;
  float:left;
}
.contents{
  height:calc(100vh - 68px);
  // width:100%;

}
.cercle{
  img {
    border-radius: 50%;
  }
}

.bgball{
  background-image: url("https://wallpapercave.com/wp/wp3694005.jpg");
  background-repeat: no-repeat;
  background-position: inherit
}
.bg-image{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card{
  background-color:#FBEEDA;
  .orange-btn {
    text-align: center;
    font-size: 1rem;
  }
}
.part-one{
  background-color:orange;
}
.part-three{
  background-color:white;
}
.part-three-text{
  color:orange;
}
.blockquote{
  font-size:26px;
  text-align: center;
  vertical-align: middle;
}
.blockquote-footer{
  text-align: center;
}
.part-three-comment{
  color:white;
}
ul{
  list-style-type: none;
}
/*************************************Bouton*****/
@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}
.wrapper {
  display: flex;
  justify-content: center;
}

.ctaa {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #FBC638;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    width: fit-content;
}

a.ctaa:focus {
   outline: none;
}

a.ctaa:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

a.ctaa span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

a.ctaa:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  // span {
  //   transform: skewX(15deg)
  // }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }

/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

a.ctaa:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

a.ctaa:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

a.ctaa:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-item {
  flex: 0 0 30%;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 16px;
  background-color: white;
}

.category-selector:checked + label {
  color: white !important;
}

#match_level_rating_district + label {
  color: rgba(244,162,64,1);
}

#match_level_rating_district:checked + label {
  background-color:rgba(244,162,64,1);
  border-color:rgba(244,162,64,1);
}


#match_level_rating_pro_a + label {
  color: rgba(255,113,67,1);
}

#match_level_rating_pro_a:checked + label {
  background-color:  rgba(255,113,67,1);
  border-color: rgba(255,113,67,1);
}


#match_level_rating_nba + label {
  color:  rgba(255,53,127,1);
}

#match_level_rating_nba:checked + label {
  background-color:  rgba(255,53,127,1);
  border-color:  rgba(255,53,127,1);
}

label, legend {
  abbr {
    display: none;
  }

}


/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}
@media only screen and (max-width: 1300px) {
  .address h4 {
    font-size:20px;
  }
  .date-match p{
    color: orange;
  }
}
@media only screen and (max-width: 1100px) {
  .address h4 {
    font-size:16px;
  }
  .date-match p{
    font-size:16px;
  }
}
// @media only screen and (max-height: 850px) {
//   .contents{
//     height: 45.4%;
//   }
