<h1><%= @user.email %></h1>
<div class="container mt-3" >
  <div class="success">
   <div class="card"><h2>Your personnal Card</h2>
   <br>

        <h3> MVP Title</h3>
         <p>5 times </p>
        <h3>Match played</h3>
          <p>26 matchs played</p>


        <h3>Main position</h3>
          <p>Point gard</p>

          <h3>Trophies</h3>
          <%= image_tag "mvp" %>
          <p></p>
      </div>
  <div> <h2>AVATAR</h2>
    <%= image_tag "avatar1" %>

  </div>
  </div>
</div>
