<% if notice %>
  <div class="alert meatball-info alert-dismissible fade show m-1" role="alert">
    <%= notice %>
    <div class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </div>
  </div>
<% end %>
<% if alert %>
  <div class="alert meatball-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <div class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </div>
  </div>
<% end %>
