<div class="poster">
  <div class="container row">
  <h1 class="col-8">MeetBall, spice up your game.</h1>
  <div class="col-4">
  <%= link_to "Find a game", matches_path, class:"btn btn-lg btn-light rounded-pill" %>
  <%= link_to "Create a game", new_match_path, class:"btn btn-lg btn-light rounded-pill" %>
  </div>
  </div>
</div>

<div class="background">
<video autoplay muted loop id="myvideo">
  <source src="<%= image_path("myvideo.mp4")%>" type="video/mp4">
</video>
</div>
