.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

#map{
  width: 100%;
  height: calc(100vh - 66px - 1.5em);
  position: sticky;
  top: 75px;
  border-radius: 1em;
  border: 3px solid black;
}
