.meatball-info{
  background-color:orange;
  color: white;
  font-size: large;
  font-weight: 900;
  border-radius: 10px;

}
.meatball-warning{
  background-color: linen;
  color: black;
  font-size: large;
  font-weight: 400;
  border-radius: 10px;
}
