.navbar-lewagon {
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  backdrop-filter: blur(3px);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar.navbar-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  .nav-link {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    opacity: 0.7;
  }
}

.nav-link:hover {
  opacity: 1;
}

#meetball {
  width: 200px;
  object-fit: cover;
}

a.nav-link{
  color: white;
  font-size: larger;
  border-radius: 1em;
  margin-right: 10px;
}
