.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-transparent {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: transparent;
  .nav-link {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}
