.button{
  border: solid 1px black;
}

.container-showuser {
  background-image: url(gege.png);
}
.flex-box{
display: flex;
justify-content: space-between;
}

.bo{
  // border: dashed rgb(65, 65, 65) 1px;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  // background-image: url(gege.png);
}
